<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<meta charset="utf-8"/>
		<link rel="stylesheet" th:href="@{/css/set-countdown-settings.css}"/>
		<script th:src="@{/js/set-countdown-settings.js}"></script>
	</head>

	<body>

		<main>

			<header>
				<button id="button-countdown" onclick="buttonClick('COUNTDOWN')">COUNTDOWN</button>
				<button id="button-message" onclick="buttonClick('MESSAGE')">MESSAGE</button>
			</header>

			<form action="javascript:void(0);">

				<div class="form-group">
					<label for="ot-both-background-mode">BackgroundMode</label>
					<select class="interesting-value" id="ot-both-background-mode" value="BLURREDIMAGE" name="backgroundMode">
						<option value="BLURREDIMAGE">BLURREDIMAGE</option>
						<option value="ONECOLOR">ONECOLOR</option>
					</select>
				</div>

				<div class="form-group">
					<label for="bm-onecolor-color">Background Color</label>
					<input class="interesting-value" id="bm-onecolor-color" type="color" name="color" disabled>
				</div>

				<div class="form-group" id="select-logo">
					<label for="ot-both-input-images">Select Logo</label>
					<select class="interesting-value" id="ot-both-input-images" name="image">
					</select>
				</div>

				<div class="form-group" id="upload-logo">
					<label for="logo-upload">Upload</label>
					<button id="logo-upload">...</button>
				</div>

				<div class="form-group">
					<label for="ot-both-input-heading">Heading</label>
					<input class="interesting-value" id="ot-both-input-heading" type="text" name="heading"/>
				</div>

				<div class="form-group" id="select-date">
					<label for="ot-countdown-input-date">Date</label>
					<input class="interesting-value" id="ot-countdown-input-date" type="date" name="date">
				</div>

				<div class="form-group" id="select-time">
					<label for="ot-countdown-input-time">Time</label>
					<input class="interesting-value" id="ot-countdown-input-time" type="time" name="time">
				</div>

				<div class="form-group">
					<label for="ot-message-input-message">Message</label>
					<input class="interesting-value" id="ot-message-input-message" type="text" name="message" readonly>
				</div>

				<button onClick="validateFormData()">Submit</button>

				<footer id="status">

				</footer>

			</form>

		</main>

	</body>
	
</html>