<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
		<link rel="stylesheet" th:href="@{/css/set-countdown-settings.css}"/>
		<script th:src="@{/js/set-countdown-settings.js}"></script>
	</head>

	<body>
	
		<form id="operationModeSelector">
		
			<input id="countdown" type="radio" name="operation-type" value="COUNTDOWN">
			<input id="message" type="radio" name="operation-type" value="MESSAGE">
			
		</form>
		
		<form>
		
			<select name="background-mode">
				<option value="">
				<option>
			</select>
		
			<input type="">
			</input>
		
		</form>
	
	
	</body>
	
</html>